@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter";
  margin: 0;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
}

span {
  margin: 0px 25px;
}

.navbar {
  border-bottom: 1px solid black;
  height: 90px;
}

.fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.dummy-navbar {
  height: 90px;
}

.searchbar {
  margin: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  height: 30px;
  width: 250px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.view-frame {
  width: 85vw;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.white-bg {
  background-color: white;
}

.trans-bg {
  background-color: rgba(255, 255, 255, 0.5);
}

.card-img {
  max-width: 200px;
}

.prod-img {
  max-width: 300px;
}

.cart-img {
  max-width: 150px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.grid-item {
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 50px;
}

.order-btn {
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.btn-text {
  margin: 0;
}

.block-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 5px;
}

.cart-item {
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.quantity-ctrl {
  margin: 10px;
}

.kort-img {
  max-width: 50px;
}
.swish-img {
  max-width: 20px;
}

.swish {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  gap: 5px;
}
.kort {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: start;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  gap: 5px;
}

.no-btn {
  background: none;
  border: none;
}
.no-margin {
  margin: 0;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  width: 50%;
  height: 50%;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid gray;
}
